<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head.ejs') %>
	<script src="/scripts/dommanip.js" defer></script>
<body>
	<%- include('partials/nav.ejs') %>
	<h1>Edit Page | <%= Product.name %></h1>
	<form method="POST" action="/products/<%= Product._id%>?_method=PUT">
		<div class = container-fluid>
			<div class = 'row'>
				<div class = 'col-sm-12 col-md-12'>
					<label>Name:</label>  <input type="text" name="name" value="<%= Product.name%>"/>
				</div>
				<div class = 'col-sm-12 col-md-12'>
					<img class="edit-image" src = '<%= Product.image%>'><br />
					<input class = 'url' type="url" name="image" value="<%=Product.image%>"/>
					<a class = 'preview' href="#">Preview Image</a>
				</div>
				<div class = 'col-sm-12 col-md-12'>
					<label>Size:</label>
					<select name="size" id="size">
						<option value ="XS">XS</option>
						<option value ="S">S</option>
						<option value ="M">M</option>
						<option value ="L">L</option>
						<option value ="XL">XL</option>
					</select>
				</div>
				<div class = 'col-sm-12 col-md-12'>
					<label>Price: $</label>
					<input type="number" name="price" min="0" value="<%= Product.price%>"></input>
				</div>
				<div class = 'col-sm-12 col-md-12'>
					<label>Condition:</label>
					<select name="condition" id="condition">
						<option value ="New">New</option>
						<option value ="Used">Used</option>
					</select>
				</div>
				<div class = 'col-sm-12 col-md-12'>
					<label>Description:</label><br />
					<textarea name="description" rows="4" cols="50"><%= Product.description%>
					</textarea>
				</div>
				<div class = 'col-sm-12 col-md-12'>
					<label>Department:</label>
					<select name="department" id="department">
						<option value ="Mens">Mens</option>
						<option value ="Womens">Womens</option>
					</select>
				</div>
				<div class = 'col-sm-12 col-md-12'>
					<label>Category:</label>
					<select name="category" id="category">
						<option value ="Tops">Tops</option>
						<option value ="Bottoms">Bottoms</option>
					</select>
				</div>
				<div class = 'col-sm-12 col-md-12'>
					<input type="submit" value="Submit"/>
				</div>
			</div>
		</div>
	</form>
</body>
	<%- include('partials/footer.ejs') %>
</html>