<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/subcats.css">
    <%- include('../../../partials/head.ejs') %>
    <%- include('../../../partials/nav.ejs') %>
<body>
    <h1 class = gfx-2><img src="https://cdn.discordapp.com/attachments/955541749516890142/970714200890540032/unknown.png"></h1><br />
    <div class = 'directory-path'>
        <a href = '/'>Home</a> > <a href = '/products/womensware'>Womensware</a> > Tops
    </div><br />
    <div class = 'container-fluid'>
        <div class="row justify-content-start flex-wrap">
        <% for(let i = 0; i < Product.length; i++ ) { %>
                <div class = 'col-sm-12 col-lg-2' id='plates'>
                    <button class="btn btn-outline-dark" id="name-bor"><%= Product[i].name%></button><br />
                    <a href="/products/<%=Product[i]._id%>"><img class = 'img-thumbnail' id='' src = '<%= Product[i].image %>'></a><br />
                    <img class = 'stars' src = 'https://upload.wikimedia.org/wikipedia/commons/b/b9/Star_rating_4.5_of_5.png' width='100' length='100'><br />
                    <div class = 'bottom'>
                        <button class="btn btn-outline-dark" id="price">$<%= Product[i].price %></button><button class = 'btn btn-dark '>Add to Cart</button>
                    </div>
                </div>
                <div class = 'col-sm-12 col-lg-1'></div>
        <% } %>
        </div>
    </div>
</body>
<%- include('../../../partials/footer.ejs') %>
</html>